body {
  font-family: "Lato", sans-serif;
  background-image: url("https://i.imgur.com/Aq9blez.jpg");
  background-color: #96DED1;
  width:1000px;
  max-width:100%;
  } 
 
hr { display: block; height: 1px;
    border: 0; border-top: 3px solid #000000;
    margin: 1em 0; padding: 0; } 
 
.sidenav {
  height: 25px;
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  background-image: #8096DED1 url("https://i.imgur.com/SCMgHR2.jpg");
  overflow-x: hidden;
  border: solid 4px #000000;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 15px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.vl {
  border-right: 6px solid black;
  height: 500px;
 }
 
@keyframes bgcolor {
    0% {
        background-color: #80FF1010
    }
    33% {
        background-color: #80FFFFFF
    }
    66% {
        background-color: #80737373
    }
    100% {
        background-color: #803C00FF
    }
}
.polarbear {
    -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 3.5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
 
 @keyframes txtcolor {
    0% {
        color: #4286f4
    }
    100% {
        color: #f4419d
    }
}
.major {
    -webkit-animation: txtcolor .25s infinite;
    animation: txtcolor .25s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
